<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homework 9 Exercise 3</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h3></h3><a href="/">Link to Start Page</a></h3>

  <h2>Takeo's Articles/Form Solution</h2>

  <form>
    <h2>Add new article</h2>
    <p>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required>
    </p>
    <p>
      <label for="content">Content:</label>
      <input type="text" name="content" id="content">
    </p>

    <input type="submit" value="Add">

  </form>
  <div id="output"></div>

  <script src="/ex3.js"></script>

</body>
`

</html>